[Unit]
Description=UDP Publisher for GPS data

[Service]
ExecStart=/home/pi/RoverGPS/gps.py
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
