[Unit]
Description=UDP Publisher for GPS data

[Service]
ExecStart=/usr/bin/python /home/pi/RoverGPS/gps_rover.py
StandardOutput=syslog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
