[Unit]
Description=Pub: 8220 - Orientation

[Service]
ExecStart=/home/pi/RoverGPS/gyro.py
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
