[Unit]
Description=UDP Publisher for Gyro data

[Service]
ExecStart=/home/pi/RoverGPS/gyro.py
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
